<h4><%= @stop.name %></h4>
<%= form_tag(stop_departures_path(stop_id: @stop.id), method: :get) do %>
  <fieldset class="fieldset">
    <%= render partial: 'scope', collection: Scope.all %>
  </fieldset>
  <fieldset class="fieldset">
    <%= render partial: 'direction', collection: @stop.directions %>
    <%= button_tag 'Odwróć', class: 'btn btn-block reverse_button' %>
  </fieldset>
  <div class="form-actions">
    <%= button_tag 'Pokaż', class: 'btn btn-primary btn-block' %>
  </div>
<% end %>
